<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p>Horas trabajadas <%= hr %></p>
    <p>Pago de horas trabajadas: <%= sal %></p>
    <p>Compesacion: <%= com %></p>
    <p>Salario y comensacion: <%= salcom %></p>
    <p>Descuento IMSS: <%= ims %></p>
    <p>Descuento ISP: <%= ispt %></p>
    <p>salario neto <%= salnet %> </p>
    <a href="/">Volver al formulario</a>
</body>
</html>