<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p><%= n1 %> + <%= n2 %> = <%= suma %></p>
    <p><%= n1 %> - <%= n2 %> = <%= resta %></p>
    <p><%= n1 %> * <%= n2 %> = <%= mult %></p>
    <p><%= n1 %> / <%= n2 %> = <%= div %></p>
    <a href="/">Volver al formulario</a>
</body>
</html>